<section id="toolbar" class="toolbar-profile">
  <div class="user">
    <%= render partial: 'toolbar/logo',
               locals: { subject: subject } %>
  </div>

  <nav class="toolbar_menu"> 
    <% if SocialStream.repository_models.present? %>  
      <%= link_to [ subject, :repository ], :class =>"list-group-item" do %>
        <i class='fa fa-folder'></i> <%= t 'repository.title' %>
      <% end %>
    <% end %>

    <% if subject != current_subject %>
      <%= link_to new_message_path(receiver: subject.slug), :class=>"list-group-item" do %>
        <i class='fa fa-envelope-o'></i> <%= t 'mailboxer.send_simple' %>
      <% end %>
    <% end %>

    <%= link_to [ subject, :profile ], :class =>"list-group-item" do  %>
      <i class='fa fa-info'></i> <%= t 'menu.information' %>
    <% end %>    
    
    <% if current_subject.present? && subject != current_subject %>
      <div class="contact-button">
        <%= contact_button subject %>
      </div>
    <% end %>
  </nav>

  <%= render partial: 'toolbar/contacts', locals: { subject: subject } %>

  <%= render partial: 'toolbar/groups', locals: { subject: subject } %>
</section>
