<!--user-->
  <li class="user">
    <%= link_to current_subject do %>
      <i class='fa fa-user <%= current_header_icon_class(:user) %>' title="<%= t('profile.one') %>">
        <%= t('profile.one') %>
      </i>
    <% end %>
  </li>

<!--sessions-->
  <%= render :partial => 'layouts/header/header_dropdown_menu_sessions'%>

<!--message-->
  <li class="">
    <%= link_to conversations_path do %> 
      <i class='fa fa-envelope <%= current_header_icon_class(:messages) %>' title="<%= t 'header.icon.messages' %>"></i>
      <%= t 'header.icon.messages' %>
    <% end %>
  </li>

<!--contacts-->
  <li class="tooltip-header" data-original-title="fds">
    <%= link_to contacts_path do %>
      <i class='tooltip-header fa fa-group <%= current_header_icon_class(:contacts) %>' data-original-title="fds" title="<%= t 'header.icon.contacts' %>"></i>
      <%= t 'header.icon.contacts' %>
    <% end %>
  </li>


<!--notifications-->
  <li class="notifications-menu">
    <%= link_to notifications_path, id: 'btn_menu_settings' do %>
      <i class='fa fa-bell-o' title="<%= t 'dropdown.notifications' %>">
      <%= t 'dropdown.notifications' %>
      </i>
    <% end %>
  </li>

<!--privacy-->  
  <li class="privacy-menu">
    <%= link_to relation_customs_path do %>
        <i class='fa fa-key' title="<%= t 'dropdown.privacy' %>">
          <%= t 'dropdown.privacy' %>
        </i>
    <% end %>
  </li>

<!--settings-->
  <li class="settings-menu">
    <%= link_to settings_path, id: 'btn_menu_settings' do %>
      <i class='fa fa-gears' title="<%= t 'dropdown.settings' %>">
        <%= t 'dropdown.settings' %>
      </i>
    <% end %>
  </li>

  <li class="divider">
  </li>

<!--log out-->    
  <li class="sign-out">
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <i class='fa  fa-sign-out' title="<%= t 'sign_out' %>">
        <%= t 'sign_out' %>
      </i>
    <% end %>
  </li>