<%= div_for event do %>
  <header>
    <h5>
      <%= link_to event.title, event %>
    </h5>
    <div class="btn-group follow">    
      <%= render :partial => 'activity_actions/follow_sentence',
               :locals  => { :activity_object => event.activity_object } %>
     
      <%= render :partial => 'activity_actions/follow_form',
               :locals => { :activity_object => event.activity_object } %>
    </div>
  </header>

  <%= render :partial => "events/poster", :locals => { :event => event } %>

  <%= render :partial => "events/details", :locals => { :event => event } %>
<% end %>
