<div class="characteristic">
  <header>
    <%= t 'frontpage.presentation.modular.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.modular.p') %>
  </p>
</div>
<div class="characteristic">
  <header>
    <%= t 'frontpage.presentation.flexible.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.flexible.p') %>
  </p>
</div>
<div class="characteristic">
  <header>
    <%= t 'frontpage.presentation.community.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.community.p') %>
  </p>
</div>