<%= div_for activity, :class => 'root media' do %>
  <div class="avatar pull-left">
    <div class="media-object">
      <%= link_to image_tag(activity.sender_subject.logo.url('small'),
        :alt => activity.sender_subject.name), activity.sender_subject %>
    </div>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <div class="dropdown x">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <icon class="fa fa-caret-down"></icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
          <%= link_to ('delete'), activity.direct_object , 
                  :confirm => t('confirm_delete', 
                  :scope => activity.direct_object.class.to_s.underscore), 
                  :method => :delete,  
                  :remote => true %> 
            <% end %>
          </div>
        </div>
 

      <%= activity.title(self) %>

      <%= render :partial => 'activities/time_ago',
               :locals => { :activity => activity } %> 

      <% if activity.direct_object && !activity.direct_object.acts_as_actor? && can?(:destroy, activity.direct_object) %>
    

    <section class="objects">
      <%= render partial: 'activity_objects/timeline', 
                 collection: activity.activity_objects,
                 as: :object %>
    </section>
    </div>

    <%= render :partial => 'activities/actions',
               :locals => { :activity => activity } %>

    <%= render :partial => 'activities/likes',
               :locals => { :activity => activity } %>

    <%= render :partial => 'activities/comments',
               :locals => { :activity => activity } %>

    <%= render :partial => 'comments/new',
               :locals => { :activity => activity } %>
  </div>
<% end %>
  
