<%= div_for(message, :class => (message.is_unread?(@actor) ? 'unread' : '')) do %>
  <div class="media">
      <%= link_to image_tag(message.sender.logo.url(:small),
                            :title => message.sender.name,
                            :alt => message.sender.name),
                            :class => "pull-left",
                   message.sender.subject %>

    <div class="media-body">

      <div class="media-heading name">
        <div class="name">
        <%= link_to truncate_name(message.sender.name), message.sender.subject %>
        </div>
        <div class="date">
          <%= t('time.ago', :time => time_ago_in_words(message.updated_at)) %>
        </div>
      </div>
      <div class="media">
  <div class="media-body">        
    <div class="word-break pre-message">
      <%= raw(message.body) %>
    </div>
  </div>
  </div>
</div>
<% end %>
