<article id="new_file">
  <%= form_for(document) do |f| %>
    <%= f.hidden_field :owner_id %>

    <div class="error">
      <ul>
        <h4>
          <% document.errors.full_messages.each do |msg| %>
        </h4>
        <li>
          <h5>
            <%= msg %>
          </h5>
        </li>
        <% end %>
      </ul>
    </div>

    <%= f.label :file, t('document.info.file') %>
    <%= f.file_field :file %>

    <%= f.label :title, t('document.info.title') %>
    <%= f.text_field :title %>

    <%= f.label :description, t('document.info.description') %>
    <%= f.text_area :description %>
 
    <%= f.label :tag_list, t('document.info.tags') %>
    <%= f.text_field :tag_list, 'data-path' => tags_path(format: 'json') %>


    <%= f.submit :class => "btn btn-primary" %>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      SocialStream.Document.edit();
    });
  <% end %>
</article>
