<%= link_to document.author.subject, :class => "author" do %>
  <%= image_tag document.author.logo.url(:small), :class => "avatar" %>
  <%= truncate_name(document.author.name, :length => 50) %>
<% end %>

<%= render partial: 'objects/counters', locals: { object: document } %>

<div class="panel-group" id="accordion">
  <div class="panel">
    <header>
      <h3>
        <%= document.title %>
      </h3>
    </header>
    <div id="collapseInfo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">
          <tr class="<%= 'blank' if document.description.blank? %>">
            <td>
              <%= t 'document.info.description' %>
            </td>
            <td>
              <%= document.description %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t 'document.info.tags' %>
            </td>
            <td>
              <%= tag_list document %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t('document.info.date.created_at') %>
            </td>
            <td>
              <%= I18n.localize document.created_at, :format => :long %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t('document.info.date.updated_at') %>
            </td>
            <td>
              <%= I18n.localize document.updated_at, :format => :long %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t('document.info.size') %>
            </td>
            <td>
              <%= number_to_human_size document.file_file_size %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div> 
</div>
<a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">--- Expandir ---</a>