<ul class="list-group">
  <% list.each do |client| %>
    <li class="list-group-item">
      <%= link_to client do %>
        <%= image_tag client.logo.url(:small) %>
      <% end %>

      <div class="data">
        <div class="name">
          <%= link_to client.name, client %>
        </div>
        <div class="url">
          <%= link_to client.url, client.url, target: '_blank' %>
        </div>
      </div>
      <!--
        <span class="badge">
          5 users
        </span>
          
          <span class="badge">
            15 authorized
          </span>
      -->
    </li>
  <% end %>

<%= javascript_tag do %>
  SocialStream.SiteClient.index();
<% end %>
</ul>

